*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgba(35, 35, 35, 0.843);
}
p.headText{
    color: #ffffff;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 0.5%;
    text-decoration: underline;
}
div.main{
    height: calc(87vh);
    width: calc(92vw);
    background-color: black;
    margin: auto;
    margin-top: 0.7%;
}
.userBtn{
    height: calc(10vh);
    width: calc(12vw);
    margin-left: 1%;
    margin-top: 10%;
    cursor: pointer;
    background-color: rgb(123, 255, 211);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    border: 5px solid rgb(131, 131, 131);
}
.logoutBtn{
    height: calc(10vh);
    width: calc(12vw);
    margin-left: 1%;
    margin-top: 5%;
    cursor: pointer;
    background-color: rgb(123, 255, 211);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    border: 5px solid rgb(131, 131, 131);
}
.movieBtn{
    height: calc(10vh);
    width: calc(12vw);
    margin-left: 1%;
    margin-top: 5%;
    cursor: pointer;
    background-color: rgb(123, 255, 211);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    border: 5px solid rgb(131, 131, 131);
}
.userBtn:hover, .logoutBtn:hover, .movieBtn:hover{
    background-color: white;
    color: black;
    font-size: 35px;
    text-decoration: underline;
    border: 5px solid rgb(123, 255, 211);
}
.container{
    height: calc(81vh);
    width: calc(75vw);
    background-color: rgb(29, 77, 61);
    position: absolute;
    left: 18.5%;
    top: 12.5%;
    border: 5px solid rgb(21, 255, 193);
    display: none;
}
.container2{
    height: calc(80vh);
    width: calc(75vw);
    background-color: rgb(41, 255, 123);
    position: absolute;
    left: 19%;
    top: 14.5%;
    display: none;
}
.one{
    background: url(./assets/movieimg1.jpg);
    background-position: 50%;
    height: calc(60vh);
    width: calc(17vw);
    border-radius: 20px;
    position: absolute;
    top: 16%;
    left: 2%;
    cursor: pointer;    
}
/* .one:hover{   
} */
.two{
    background: url(./assets/movieimg2.jpg);
    background-position: 50%;
    height: calc(60vh);
    width: calc(17vw);
    border-radius: 20px;
    position: absolute;
    top: 16%;
    left: 26.5%;
    cursor: pointer;
}
.three{
    background: url(./assets/movieimg3.jpg);
    background-position: 50%;
    height: calc(60vh);
    width: calc(17vw);
    border-radius: 20px;
    position: absolute;
    top: 16%;
    left: 51%;
    cursor: pointer;
}
.four{
    background: url(./assets/movieimg4.jpg);
    background-position: 50%;
    height: calc(60vh);
    width: calc(17vw);
    border-radius: 20px;
    position: absolute;
    top: 16%;
    left: 76%;
    cursor: pointer;
}
.nameOne, .nameTwo, .nameThree, .nameFour{
    height: calc(9vh);
    width: calc(17vw);
    background-color: rgb(137, 255, 226);    
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: 3px solid black;
}
.nameOne{
    /* background-color: white; */
    position: absolute;
    top: 2%;
    left: 2%;
    line-height: 180%;
}
.nameTwo{
    position: absolute;
    top: 2%;
    left: 26.5%;
}
.nameThree{
    position: absolute;
    top: 2%;
    left: 51%;
    line-height: 180%;
}
.nameFour{
    position: absolute;
    top: 2%;
    left: 76%;
    line-height: 180%;
}
.nameOne:hover, .nameTwo:hover, .nameThree:hover, .nameFour:hover{
    line-height: 200%;
    height: calc(7.5vh);
    width: calc(16.5vw);
    text-decoration: underline;
    font-size: 20px;
    background-color: white;
    border: 3px solid rgb(46, 255, 203);
}
#link1, #link2, #link3, #link4{
    color: white;
    font-size: 20px;
    font-weight: bold;
    /* margin-left: 30px; */
}
#link1{
    position: absolute;
    top: 93%;
    left: 2%;
}
#link2{
    position: absolute;
    top: 93%;
    left: 27%;
}
#link3{
    position: absolute;
    top: 93%;
    left: 51%;
}
#link4{
    position: absolute;
    top: 93%;
    left: 76%;
}
#link1:hover, #link2:hover, #link3:hover, #link4:hover{
    color: rgb(46, 255, 203);
    font-size: 21px;
    font-weight: bold;
}
#link1:active, #link2:active, #link3:active, #link4:active{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
}
#linkLogOut{
    color: black;
}